<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dudream.dao.UserDao">

    <sql id="TABLE">
        demo.user
    </sql>
    <sql id="FIELDS">
        `user_id`,`user_name`
    </sql>

    <select id="getById" resultType="com.dudream.model.User">
        SELECT
        <include refid="FIELDS"/>
        FROM
        <include refid="TABLE"/>
        WHERE
        `user_id`=#{userId}
    </select>

</mapper>
